 .renaissanceBackground{
 -fx-background-image: url('../../images/game/loadingImage.jpg');
 -fx-background-size: 100% 100%;
}

.boardBackBackground{
    -fx-background-image: url('../../images/game/plancia_retro.png');
    -fx-background-size: 100% 100%;
}

.warehouse{
 -fx-background-image: url('../../images/game/warehouse.png');
 -fx-background-size: 100% 100%;
}

.marketboard{
 -fx-background-image: url('../../images/game/marketboard.png');
 -fx-background-size: 100% 100%;
}

.slots{
 -fx-background-image: url('../../images/game/buyDevCard/slots.png');
 -fx-background-size: 100% 100%;
}

.activateProduction{
 -fx-background-image: url('../../images/game/activateProduction.png');
 -fx-background-size: 100% 100%;
}

.popeCardBack2{
    -fx-background-image: url('../../images/popecards/back2.png');
    -fx-background-size: 100% 100%;
}

.popeCardBack3{
    -fx-background-image: url('../../images/popecards/back3.png');
    -fx-background-size: 100% 100%;
}

.popeCardBack4{
    -fx-background-image: url('../../images/popecards/back4.png');
    -fx-background-size: 100% 100%;
}

.popeCardFront2{
    -fx-background-image: url('../../images/popecards/front2.png');
    -fx-background-size: 100% 100%;
}

.popeCardFront3{
    -fx-background-image: url('../../images/popecards/front3.png');
    -fx-background-size: 100% 100%;
}

.popeCardFront4{
    -fx-background-image: url('../../images/popecards/front4.png');
    -fx-background-size: 100% 100%;
}

.personalProduction{
    -fx-background-image: url('../../images/game/personalProduction.png');
    -fx-background-size: 100% 100%;
}

