 .renaissanceBackground{
 -fx-background-image: url('../../images/game/loadingImage.jpg');
 -fx-background-size: 100% 100%;
}

.selectedCard{
    -fx-border-color: #0cad14;
}

.notSelectedCard{
    -fx-border-color:  #1d1d2b;
}

.onMouseEntered{
     -fx-border-color:  #c6c4c4;
 }



