 .titlebg{
 -fx-background-image: url('../../images/login/mattoniGrey.jpg');
 -fx-background-size: 150% 150%;
}

#connectButton {
    -fx-background-color: linear-gradient( #1d1d2b, #27328c);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}