 .titlebg{
 -fx-background-image: url('../../images/login/mattoniGrey.jpg');
 -fx-background-size: 150% 150%;
}

.button{
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

#connectButton {
    -fx-background-color: linear-gradient( #392228, #603944);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

#playButton {
    -fx-background-color: linear-gradient( #392228, #603944);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

#startGameButton {
    -fx-background-color: linear-gradient( #392228, #603944);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

#continueButton {
    -fx-background-color: linear-gradient( #392228, #603944);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}